<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      Quick Lists
    </ion-title>
    <ion-button (click)="addChecklist()" slot="end">
      <ion-icon slot="icon-only" name="add-circle"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">

    <ion-item-sliding *ngFor="let checklist of dataService.checklists">
      <ion-item [routerLink]="'/checklist/' + checklist.id" routerDirection="forward">
        <ion-label>{{ checklist.title }}</ion-label>
        <span>{{ checklist.items.length }} items</span>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="light" (click)="renameChecklist(checklist)"> <ion-icon slot="icon-only" name="clipboard"></ion-icon>  </ion-item-option>
        <ion-item-option color="danger" (click)="removeChecklist(checklist)"> <ion-icon slot="icon-only" name="trash"></ion-icon> </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>
